<section class="section section-follow  darken-2 white-text center " style="background-color: rgb(15, 86, 199);">
    <footer id="main-footer">
        Copyright &copy; 2020 &nbsp;
        <a href="htttps://facebook.com" target="_blank" class="white-text">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        &nbsp;
        <a href="htttps://twitter.com" target="_blank" class="white-text">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        &nbsp;
        <a href="htttps://linkedin.com" target="_blank" class="white-text">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        &nbsp;
        <a href="htttps://instagram.com" target="_blank" class="white-text">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
        &nbsp;
    </footer>
</section>