<% if(success_msg && success_msg.length>0){ %>
    <div class="ui success message" role="alert">
        <i class="close icon"></i>
        <div class="header">
            <%= success_msg %>
        </div>
    </div>
    <% } %>
<% if(error_msg && error_msg.length>0){ %>
            <div class="ui negative message" role="alert">
                <i class="close icon"></i>
                <div class="header">
                    <%= error_msg %>
                </div>
            </div>
<% } %>