<%- include("partials/header.ejs") %>


<div class="container">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
          <div class="card myCard1">
            <h3></h3>
            <p></p>
            <p></p>
          </div>
        </div>
      
        <div class="col-sm-7 col-xs-12">
            <div class="card myCard2" style="color:black">
                <p class="head">How can we help you?</p>
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Email address</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    
                    
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Your query?</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </form>
                  <button type="btn btn-primary">SUBMIT</button><br><br>
                  

                 <p style="font-size: 25px;">E-MAIL: <a>abc@gmail.com</a></p> 
                  <p style="font-size: 25px;">CALL US : <a>+91-1234567809</a></p>
            </div>
        </div>
  
        </div>
</div>
<div style="margin:200px auto 100px auto;text-shadow: 2px 2px 2px red;">
    <p style="color:black;text-align: center;" id="team">We'd love to hear from you</p>
   
</div>
<i class='fas fa-file-alt' style='font-size:48px;color:red'></i>


<div class="ui card" style="margin:10px auto 10px auto">
    <div class="content">
      <div class="center aligned header">Sarthak Arora</div>
      <div class="center aligned description">
        <p>Contact No:+91-8700187916</p>
        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
      </div>
    </div>
    
  </div>
  <div class="ui card" style="margin:10px auto 10px auto" >
    <div class="content">
      <div class="center aligned header">Varun Ramnani</div>
      <div class="center aligned description">
        <p>Contact No:+91-7000017802</p>
        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
      </div>
    </div>
  </div>
    
  </div>
  <div class="ui card" style="margin:10px auto 10px auto" >
    <div class="content">
      <div class="center aligned header">Pranav Garg</div>
      <div class="center aligned description">
        <p>Contact No:+91-8000200030</p>
        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
      </div>
    </div>
  </div>
    
  <div class="ui card" style="margin:10px auto 10px auto" >
    <div class="content">
      <div class="center aligned header">Akshit Suri</div>
      <div class="center aligned description">
        <p>Contact No:+91-9999782010</p>
        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
        
      </div>
    </div>
    </div>







  
  







<%- include("partials/footer") %>