<%- include("partials/header") %>

    <div class="ui container">
        <div class="ui two column grid padded ">
            <div class="row hom-txt">
                <div class="column">
                    <h1 style="color: red;" class="ml2"> <b>The Best Place For Patients data of :</b></h1>
                    <h3 class="ml8">
                        <span class="letters-container">
                              <span class="letters letters-left">COVID<span style="color:red">-</span>19</span>
                        <span class="letters bang" style="color:red;">!</span>
                        </span>
                        <span class="circle circle-white"></span>
                        <span class="circle circle-dark"></span>
                        <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
                    </h3>
                    <p id="para" style="font-size: large; font-weight: 400;"><b>This website will help you get all the latest data of each hospital on COVID-19 patients.</b></p>
                </div>
            </div>

            <button id="btn" class="circular ui  red button">Start Now</button>
        </div>
    </div>
    <h1 class="ml8">
        <span class="letters-container">
              <span class="letters letters-left">COVID<span style="color:red">-</span>19</span>
        <span class="letters bang" style="color:red;">!</span>
        </span>
        <span class="circle circle-white"></span>
        <span class="circle circle-dark"></span>
        <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
    </h1>

    </header>

    <div class="ui container">
        <div>
            <h1 class="ui center aligned header">Explore Features</h1>
            <p>Passionate about Perfection Keep away from people who try Make your teams more productive to belittle your ambitions.</p>
        </div>
        <div class="ui three column grid">
            <div class="row" style="margin-top: 50px;">
                <div class="column">
                    <div class="ui segment">
                        <div class="ui center aligned icon header">
                            <i class="green life ring outline icon"></i>
                            <h4 class="ui header">Unlimited Features</h4>
                        </div>
                        <p class="center aligned description">Keep away from people who try to belittle your ambitions. Small people always do that but the really Keep away from people great.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        <div class="ui center aligned icon header">
                            <i class="green life ring outline icon"></i>
                            <h4 class="ui header">Unlimited Features</h4>
                        </div>
                        <p class="center aligned description">Keep away from people who try to belittle your ambitions. Small people always do that but the really Keep away from people great.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        <div class="ui center aligned icon header">
                            <i class="green life ring outline icon"></i>
                            <h4 class="ui header">Unlimited Features</h4>
                        </div>
                        <p class="center aligned description">Keep away from people who try to belittle your ambitions. Small people always do that but the really Keep away from people great.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="ui segment">
                        <div class="ui center aligned icon header">
                            <i class="green life ring outline icon"></i>
                            <h4 class="ui header">Unlimited Features</h4>
                        </div>
                        <p class="center aligned description">Keep away from people who try to belittle your ambitions. Small people always do that but the really Keep away from people great.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        <div class="ui center aligned icon header">
                            <i class="green life ring outline icon"></i>
                            <h4 class="ui header">Unlimited Features</h4>
                        </div>
                        <p class="center aligned description">Keep away from people who try to belittle your ambitions. Small people always do that but the really Keep away from people great.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        <div class="ui center aligned icon header">
                            <i class="green life ring outline icon"></i>
                            <h4 class="ui header">Unlimited Features</h4>
                        </div>
                        <p class="center aligned description">Keep away from people who try to belittle your ambitions. Small people always do that but the really Keep away from people great.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer") %>