<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <h1>Hello</h1>
    <form action="/auth/login" method="POST">
        <input type="text" title="email" name="email" placeholder="username" />
        <input type="password" title="username" name="password" placeholder="password" />
        <button type="submit" class="btn">Login</button>
        <a class="forgot" href="#">Forgot Username?</a>
    </form>
</body>

</html>