<%- include("partials/header2") %>

    <h1 class="ml5">
        <span class="text-wrapper">
      <span class="line line1"></span>
        <span class="letters letters-left"><i>Hello</i></span>
        <span class="letters ampersand">&#187;</span>
        <span class="letters letters-right">User</span>
        <span class="line line2"></span>
        </span>
    </h1>
    <!-- <h1 style="text-align: center; color:darkorange">Scroll Down to see patient Data.</h1> -->-->

    <div class="tab">
        <div style="margin: 0 auto; text-align: center;" class="ui card">
            <div class="content">
                <div style="color: darkcyan;" class="header"><i style="color: orangered;" class="user icon"></i> User.name</div>
            </div>
            <div class="content">
                <h4 style="color:blue;" class="ui sub header">Email</h4>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <div style="color: salmon; text-align: center;" class="summary">
                                User.email
                            </div>
                        </div>
                    </div>
                </div>
                <h4 style="color: maroon;" class="ui sub header">Address</h4>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <div style="color: goldenrod; text-align: center;" class="summary">
                                User.address
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: white; border: 1px solid black; border-radius: 15px;" class="ui middle aligned divided list">
            <div style="padding: 10px;" class="item">
                <div style="color:yellowgreen" class="right floated content">
                    Request Time
                </div>
                <!-- <div class="right floated content">
                    <div class="ui button">Add</div>
                </div> -->
                <div style="color:red" class="left floated content">
                    Hospital Name
                </div>
                <div style="text-align: center;color:green" class="middle floated content">
                    Status
                </div>
            </div>
            <div style="padding: 10px;" class="item">
                <div class="right floated content">
                    User.requestTime
                </div>
                <!-- <div class="right floated content">
                    <div class="ui button">Add</div>
                </div> -->
                <div style="color:lightblue" class="left floated content">
                    User.Hospitalname
                </div>

                <div style="text-align: center; color: green;" class="middle floated content">
                    User.status
                </div>
            </div>
            <div style="padding: 10px;" class="item">
                <div class="right floated content">
                    User.requestTime
                </div>
                <!-- <div class="right floated content">
                    <div class="ui button">Add</div>
                </div> -->
                <div style="color:lightblue" class="left floated content">
                    User.Hospitalname
                </div>

                <div style="text-align: center; color: green;" class="middle floated content">
                    User.status
                </div>
            </div>
            <div style="padding: 10px;" class="item">
                <div class="right floated content">
                    User.requestTime
                </div>
                <!-- <div class="right floated content">
                    <div class="ui button">Add</div>
                </div> -->
                <div style="color:lightblue" class="left floated content">
                    User.Hospitalname
                </div>

                <div style="text-align: center; color: green;" class="middle floated content">
                    User.status
                </div>
            </div>
        </div>
        <div class="ui right floated small blue labeled icon button">
            <i class="code icon"></i> Generate Qr Code
        </div>

    </div>
    </div>

    </div>
    </header>

    <%- include("partials/footer2") %>