<%- include("partials/header2") %>

    <!-- FORM -->
    <div class="form1">
        <div class="ui raised segment dimmable">
            <div class="ui inverted dimmer">
                <div class="content">
                    <div class="ui text loader">Loading</div>
                </div>
            </div>
            <h2 class="ui header"><i style="color: yellow;" aria-hidden="true" class="plus icon"></i>Reguest user data</h2>
            <p style="color: black;"> Request user data to get information about the user and get it's well pass.</p>
            <div class="ui divider"></div>
            <form action="/user-request-data" method="POST" class="ui form">
                <div class="field">
                    <div class="field"><label class="ui header">Comment</label>
                        <textarea placeholder="Enter comments" name="comment"></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="field"><label class="ui header">Hospital Name</label>
                        <select name="HospitalName" multiple="" class="ui fluid dropdown">
                  <option value="">HospitalName</option>
                  <option name="HospitalName" value="hospitalId">HospitalName</option>
                  <option name="HospitalName" value="hospitalId">HospitalName</option>
                  <option name="HospitalName" value="hospitalId">HospitalName</option>
                  </select>
                    </div>
                    <button type="submit" class="ui red button"><div class="content">Request Data</div></button>
            </form>
            </div>
        </div>

        </header>

        <%- include("partials/footer") %>