<%- include("partials/header2") %>
    <!-- FORM -->
    <div class="form1">
        <div id="load" class="ui raised segment dimmable">
            <div class="ui inverted dimmer">
                <div class="content">
                    <div class="ui text loader">Loading</div>
                </div>
            </div>
            <h2 class="ui header"><i class="home icon"></i>Verify Address</h2>
            <p style="color: black;">Enter your Address to verify that you are a registered user</p>
            <div class="ui divider"></div>
            <form class="ui  form">
                <div class="field">
                    <div class="field"><label>Address</label>
                        <div class="ui left icon input"><input style="padding: 1%;" aria-invalid="true" placeholder="Enter Your Address" name="address" type="text" value=""><i aria-hidden="true" class="key icon"></i></div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div id="btn" class="ui red button">
                    <div class="content">Reset Password
                    </div>
            </form>
            </div>
            <div style="margin: 0 auto;" class="ui basic modal">
                <div class="ui icon header">
                    <i style="color: green; font-size: 5em;" class="checkmark icon"></i><span style="font-size: 2em;">Address <span style="color:green">Verified</span></span>
                </div>
                <div class="actions">
                    <button class="ui red basic ok inverted button"><i class="remove icon"></i>Close</button>
                </div>
            </div>
        </div>

        </header>
        <%- include("partials/verifyFooter") %>